n8n-workflows/airtop-salesforce-credential-setup.json
{
  "name": "Airtop Salesforce Credential Setup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salesforce-credential-setup",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [100, 300],
      "webhookId": "salesforce-credential-setup"
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "createSession",
        "options": {
          "timeoutMinutes": 15
        }
      },
      "id": "create-session",
      "name": "Create Browser Session",
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "resource": "window",
        "operation": "createWindow",
        "sessionId": "={{ $json.data.sessionId }}"
      },
      "id": "create-window",
      "name": "Create Window",
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Automate Salesforce Connected App creation with the following steps:\n\n**Login Credentials:**\n- Username: {{ $('Webhook Trigger').item.json.salesforce_username }}\n- Password: {{ $('Webhook Trigger').item.json.salesforce_password }}\n- Login URL: {{ $('Webhook Trigger').item.json.login_url || 'https://login.salesforce.com' }}\n\n**Task:**\n1. Navigate to the Salesforce login URL\n2. Enter the username and password to log in\n3. If there's a verification code required, STOP and report that manual verification is needed\n4. Once logged in, navigate to Setup (gear icon in top right, then Setup)\n5. In the Quick Find search box, type 'App Manager'\n6. Click on 'App Manager' in the results\n7. Click the 'New Connected App' button\n8. Fill in the form:\n   - Connected App Name: 'Wallestars Integration'\n   - API Name: 'Wallestars_Integration'\n   - Contact Email: {{ $('Webhook Trigger').item.json.contact_email || $('Webhook Trigger').item.json.salesforce_username }}\n   - Check 'Enable OAuth Settings'\n   - Callback URL: 'https://localhost/oauth/callback'\n   - Under 'Selected OAuth Scopes', add:\n     - 'Full access (full)'\n     - 'Perform requests at any time (refresh_token, offline_access)'\n9. Click 'Save'\n10. Wait for the app to be created (might take a few seconds)\n11. Click on the app name to view details\n12. Extract and return:\n    - Consumer Key (Client ID)\n    - Consumer Secret (Client Secret)\n\n**Important:**\n- Take screenshots at key steps\n- If you encounter any errors, report them clearly\n- If 2FA/MFA is required, report that and stop\n\nReturn the credentials in JSON format:\n{\n  \"client_id\": \"the consumer key\",\n  \"client_secret\": \"the consumer secret\",\n  \"app_name\": \"Wallestars Integration\",\n  \"status\": \"success\" or \"error\",\n  \"message\": \"any relevant message\"\n}",
        "options": {
          "systemMessage": "You are a Salesforce automation specialist. You are helping to create a Connected App for API integration.\n\nYou have access to a browser session with these tools:\n- Load URL: Navigate to a specific URL\n- Query Page: Extract information from the current page\n- Click Element: Click on an element described in natural language\n- Type Text: Type text into an input field\n- Take Screenshot: Capture the current page state\n\nFollow the instructions carefully and handle errors gracefully. If you encounter security prompts, MFA requests, or unexpected pages, report them clearly.\n\nAlways return results in the specified JSON format."
        }
      },
      "id": "ai-agent",
      "name": "Salesforce Setup Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [700, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 8192
        }
      },
      "id": "claude-model",
      "name": "Claude Sonnet 4",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [700, 500],
      "credentials": {
        "anthropicApi": {
          "id": "{{ANTHROPIC_CREDENTIAL_ID}}",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "resource": "window",
        "operation": "loadUrl",
        "sessionId": "={{ $('Create Browser Session').item.json.data.sessionId }}",
        "windowId": "={{ $('Create Window').item.json.data.windowId }}",
        "url": "={{ $fromAI(\"url\", \"The URL to navigate to\", \"string\") }}"
      },
      "id": "load-url",
      "name": "Load URL",
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [500, 500],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "resource": "extraction",
        "operation": "queryPage",
        "sessionId": "={{ $('Create Browser Session').item.json.data.sessionId }}",
        "windowId": "={{ $('Create Window').item.json.data.windowId }}",
        "prompt": "={{ $fromAI(\"query\", \"What information to extract from the page\", \"string\") }}"
      },
      "id": "query-page",
      "name": "Query Page",
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [500, 650],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "resource": "interaction",
        "operation": "click",
        "sessionId": "={{ $('Create Browser Session').item.json.data.sessionId }}",
        "windowId": "={{ $('Create Window').item.json.data.windowId }}",
        "elementDescription": "={{ $fromAI(\"element\", \"Natural language description of the element to click\", \"string\") }}"
      },
      "id": "click-element",
      "name": "Click Element",
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [700, 650],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "resource": "interaction",
        "operation": "type",
        "sessionId": "={{ $('Create Browser Session').item.json.data.sessionId }}",
        "windowId": "={{ $('Create Window').item.json.data.windowId }}",
        "elementDescription": "={{ $fromAI(\"inputField\", \"Description of the input field to type into\", \"string\") }}",
        "text": "={{ $fromAI(\"textToType\", \"The text content to type\", \"string\") }}"
      },
      "id": "type-text",
      "name": "Type Text",
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [900, 650],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "resource": "window",
        "operation": "takeScreenshot",
        "sessionId": "={{ $('Create Browser Session').item.json.data.sessionId }}",
        "windowId": "={{ $('Create Window').item.json.data.windowId }}"
      },
      "id": "take-screenshot",
      "name": "Take Screenshot",
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [900, 500],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json;\n\nlet result;\ntry {\n  // Try to parse the agent's output as JSON\n  const outputText = agentOutput.output || agentOutput.text || '';\n  const jsonMatch = outputText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = {\n      status: 'error',\n      message: 'Could not parse credentials from agent output',\n      raw_output: outputText\n    };\n  }\n} catch (e) {\n  result = {\n    status: 'error',\n    message: 'Failed to parse agent output: ' + e.message,\n    raw_output: agentOutput\n  };\n}\n\n// Add timestamp\nresult.timestamp = new Date().toISOString();\n\nreturn { json: result };"
      },
      "id": "parse-credentials",
      "name": "Parse Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "terminateSession",
        "sessionId": "={{ $('Create Browser Session').item.json.data.sessionId }}"
      },
      "id": "terminate-session",
      "name": "Terminate Session",
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [1100, 300],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "success"
            }
          ]
        }
      },
      "id": "if-success",
      "name": "If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/webhooks/n8n/alert",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alert",
              "value": "={\"type\": \"salesforce\", \"severity\": \"info\", \"message\": \"Salesforce Connected App created successfully. Client ID: \" + $json.client_id?.substring(0, 10) + \"...\", \"timestamp\": new Date().toISOString()}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/webhooks/n8n/alert",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alert",
              "value": "={\"type\": \"salesforce\", \"severity\": \"error\", \"message\": \"Salesforce credential setup failed: \" + ($json.message || 'Unknown error'), \"timestamp\": new Date().toISOString()}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-failure",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1700, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Create Browser Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Browser Session": {
      "main": [
        [
          {
            "node": "Create Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Window": {
      "main": [
        [
          {
            "node": "Salesforce Setup Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salesforce Setup Agent": {
      "main": [
        [
          {
            "node": "Parse Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Credentials": {
      "main": [
        [
          {
            "node": "Terminate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terminate Session": {
      "main": [
        [
          {
            "node": "If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Failure": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4": {
      "ai_languageModel": [
        [
          {
            "node": "Salesforce Setup Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Load URL": {
      "ai_tool": [
        [
          {
            "node": "Salesforce Setup Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Page": {
      "ai_tool": [
        [
          {
            "node": "Salesforce Setup Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Click Element": {
      "ai_tool": [
        [
          {
            "node": "Salesforce Setup Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Type Text": {
      "ai_tool": [
        [
          {
            "node": "Salesforce Setup Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Take Screenshot": {
      "ai_tool": [
        [
          {
            "node": "Salesforce Setup Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [
    "airtop",
    "salesforce",
    "credential-setup",
    "wallestars"
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1.0.0"
}
