n8n-workflows/slack-cpu-monitor.json
{
  "name": "Slack CPU Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/workers/metrics",
        "options": {}
      },
      "id": "get-metrics",
      "name": "Get Worker Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.cpu.current }}",
              "operation": "smaller",
              "value2": 50
            }
          ]
        }
      },
      "id": "check-cpu-low",
      "name": "CPU Below 50%?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/workers/cpu/force-work",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "intensity",
              "value": "heavy"
            },
            {
              "name": "count",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "force-workload",
      "name": "Force Workload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "report",
              "name": "report",
              "value": "={{ 'CPU: ' + $json.data.cpu.current + '% | Mode: ' + $json.data.cpu.mode + ' | Tasks: ' + $json.data.tasks.processed + ' | PRs: ' + $json.data.tasks.prsAnalyzed }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.cpu.current }}",
              "operation": "largerEqual",
              "value2": 50
            }
          ]
        }
      },
      "id": "cpu-healthy",
      "name": "CPU Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "content": "=:white_check_mark: *Worker Status Report*\n\n{{ $json.report }}\n\n:alarm_clock: {{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
        "options": {}
      },
      "id": "slack-healthy",
      "name": "Slack Healthy",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1250, 350],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "content": "=:warning: *CPU Below Target*\n\nCurrent: {{ $json.data.cpu.current }}%\nTarget: 50%+\n\nForcing additional workload...\n\n:alarm_clock: {{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
        "options": {}
      },
      "id": "slack-warning",
      "name": "Slack Warning",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1250, 100],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {},
      "id": "noop",
      "name": "No Op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Every 30 Seconds": {
      "main": [
        [
          {
            "node": "Get Worker Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Worker Metrics": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "CPU Below 50%?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPU Below 50%?": {
      "main": [
        [
          {
            "node": "Force Workload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Force Workload": {
      "main": [
        [
          {
            "node": "Slack Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "CPU Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPU Healthy?": {
      "main": [
        [
          {
            "node": "Slack Healthy",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring"
    },
    {
      "name": "slack"
    },
    {
      "name": "cpu"
    }
  ],
  "triggerCount": 1,
  "active": true
}
